In [7]:
name=str(input("enter your name"))
while name=="":
    name=str(input("enter your name"))
print(f"your name is {name}")

enter your name
enter your name
enter your name
enter your name ram

your name is ram

In [15]:
name=str(input("enter your name"))
if name=="":
    print("you have not enter your name")
else :
    print(f"your name is {name}")

enter your name

you have not enter your name

In [3]:
age=int(input("enter your age"))
while age<18:
    age=int(input("enter your age"))
print(f"your age is {age}")

enter your age 3
enter your age 3
enter your age 2
enter your age 2
enter your age 3
enter your age 23

your age is 23

In [19]:
num=1
while num<=10:
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10

In [21]:
num=10
while num>=1:
    print(num)
    num=num-1

10
9
8
7
6
5
4
3
2
1

In [27]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
#break
n=[10,23,45,22,33,90,11,34]
for i in n:
    print(i)
    if i==33:
      break

10
23
45
22
33

In [49]:
num=int(input("enter a number"))
fact=1
i=1
while i<=num:
    fact=fact*i
    i=i+1
print(fact)

enter a number 5

120

In [64]:
num=1
while num<=10:
    print(num**2)
    num=num+1

1
4
9
16
25
36
49
64
81
100

In [1]:
table=int(input("enter a num"))
i=1
while i<=10:
    ans=i*table
    print(i,"x",table,"=",ans)
    i=i+1

enter a num 5

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

TASK

In [26]:
name=["karthik raja","abdul","ruban","ram kumar","buvanesh"]
for i in name:
    print(i)
    if i=="ram kumar":
           break

karthik raja
abdul
ruban
ram kumar

In [28]:
age=[17,19,24,37,44,23,13,17]
for i in age:
    print(i)
    if i==37:
        break

17
19
24
37

In [30]:
num=10
while num<=100:
    print(num)
    num=num+10

10
20
30
40
50
60
70
80
90
100

In [17]:
num=(input("enter a two digit number"))
x=int(num[0])
y=int(num[1])
ans=x*y
print(ans)

enter a two digit number 44

16

In [22]:
num=int(input("enter a number"))
count=0
for i in range(1,num+1):
    if num%i==0:
        count=count+1
if count==2:
    print ("prime number")
else:
    print("not a prime number")

enter a number 4

not a prime number

In [3]:
num=int(input("enter a number"))
count=0
i=1
while i<=num:
     if num%i==0:
         count=count+1
     i=i+1
if count==2:
    print ("prime number")
else:
    print("not a prime number")

enter a number 3

prime number

In [36]:
num=int(input("enter a number"))
ans=num**2
print(ans)

enter a number 3

9

In [1]:
table=int(input("enter a table"))
rang=int(input("enter a range"))                  
for i in range(1,rang+1):
    ans=i*table
    print(i,"X",table,"=",ans)

enter a table 4
enter a range 4

1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16

In [1]:
table=int(input("enter a table"))
rang=int(input("enter a range"))                  
i=1
while i<=rang:
    ans=i*table
    print(i,"X",table,"=",ans)
    i=i+1

enter a table 4
enter a range 4

1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16

In [9]:
num=(input("enter a number"))
total=1
for i in num:
    total=total*int(i)
print(total)

enter a number 1234

24

In [21]:
num=(input("enter a number"))
total=int(num[0])
i=1
while i<len(num):
    total=total*int(num[i])
    i=i+1
print(total)

enter a number 456

120