In [1]:
word="chennai@123"
letter_c=0
digit_c=0
for i in word:
    if i.isalpha():
        letter_c=letter_c+1
    elif i.isdigit():
        digit_c=digit_c+1
print(letter_c)
print(digit_c)

7
3

In [9]:
total=0
for i in range(20,41):
    if i%5==0:
        total=total+i
print(total)

150

In [5]:
num=int(input("enter a number"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

enter a number 4

24

In [3]:
num=int(input("enter the number"))
count=0
for i in range(1,num+1):
    if num%i==0:
        count=count+1
if count==2:
    print("prime number")
else:
    print("not a prime number")

enter the number 5

prime number

In [21]:
table=int(input("enter the table you want"))
for i in range(1,11):
    ans=table*i
    print(i,"x",table,"=",ans)

enter the table you want 2

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [23]:
table=int(input("enter a table"))
total=0
for i in range(1,11):
    ans=table*i
    total=total+ans
    print(i,"x",table,"=",ans)
print(total)

enter a table 2

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
110

In [37]:
word=str(input("enter a word"))
rev=""
for i in word:
    rev=i+rev
if word==rev:
    print(f"{word} is palindrome")
else:
    print(f"{word} is not a palindrome")

enter a word paalu

paalu is not a palindrome

In [1]:
num=int(input("enter a number"))
str_num=str(num)
total=0
for i in str_num:
    ans=int(i)**len(str_num)
    total=total+ans
if num==total:
    print("armstrong number")
else:
    print("not an armstrong number")

enter a number 371

armstrong number

In [ ]:
TASK