In [35]:
kumar=child_one()
kumar.occupation()
sanjay=father()
sanjay.age()
kumar.age1()

father is a pilot
father age is 45
child age is 15

In [27]:
class father():
    def occupation(self):
        print("father is a pilot")
    def age(self):
        print("father age is 45")
    def salary(self):
        print("father salary is 50000")
class child_one(father):
    def age1(self):
        print("child age is 15")
class child_two(father):
    def age2(self):
        print("chlid2 age is 12")

In [41]:
kumar.age1()
sanjay.age()
suresh=child_two()
suresh.age2()

child age is 15
father age is 45
chlid2 age is 12

In [71]:
class father():
    def occupation(self):
        print("father is a pilot")
    def age(self):
        print("father age is 45")
    def salary(self):
        print("father salary is 50000")
class child_one(father):
    def age1(self):
        print("child1 age is 15")
class child_two(father):
    def age2(self):
        print("chlid2 age is 12")
class grand_son(child_one):
    def age3(self):
        print("grand son age is 3")

In [73]:
balaji=grand_son()

In [75]:
balaji.age()
balaji.occupation()
kumar.occupation()

father age is 45
father is a pilot
father is a pilot

In [30]:
class father():
    def occupation(self):
        print("father is a pilot")
    def age(self):
        print("father age is 45")
    def salary(self):
        print("father salary is 50000")
class child_one(father):
    def age1(self):
        print("child1 age is 15")
class child_two(father):
    def age2(self):
        print("chlid2 age is 12")
class grand_son(child_one):
    def age3(self):
        print("grand son age is 3")
        
class mother():
    def occupation_m(self):
        print("mother is a teacher")
class child4(father,mother):
    def age4(self):
        print("child4 age is 4")

In [37]:
ral=child4()

In [41]:
ral.age()

father age is 45

In [52]:
num=[2,34,5,67,86,4,3]
largest=num[0]
for i in num:
    if i>largest:
        largest=i
print(largest)

86

In [64]:
word=(input("enter a word"))
rev=""
for i in word:
    rev=i+rev
if rev==word:
        print("palindrome")
else:
        print("not a palindrome")

enter a word lol

palindrome

TASK

In [20]:
class branch1():
    def DA(self):
        print("python,sql,powerbi")
    def DS(self):
        print("ML,DL,AI,PYTHON")
    def JAVA(self):
        print("java,sprigboot,sql,HTML")
    def python(self):
        print("python,sql,django,html")
class branch2(branch1):
    def cloud_computing(self):
        print("AWS,DEVOPS")

In [26]:
navalur=branch2()
kknagar=branch1()
navalur.python()

python,sql,django,html

In [60]:
class main():
    def tata(self):
        print("nexon,harrier")
    def hyundai(self):
        print("creta,i20")
    def ford(self):
        print("ecosport,endeavour")
    def sportscar(self):
        print("ferrari,jaguar")
class chennai(main):
    def suzuki(self):
        print("swift,baleno")
class s_chennai(chennai):
    def ford(self):
        print("ecosport")
class madurai(main):
    def sportscar(self):
        print("no sports car")
class salem(chennai,main):
    def tata(self):
        print("nexon")

In [74]:
main2=chennai()
main2.tata()
main3=s_chennai()
main3.ford()
main4=madurai()
main4.sportscar()

nexon,harrier
ecosport
no sports car