In [1]:
class form():
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def company(self):
        print("the company name is zzz")
    def main_output(self):
        print(f"my name is {self.name} and my age is {self.age}")
class form2(form):
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def output2(self):
        super().company()
        super().main_output()
        print(f"the gender is {self.gender}")
obj1=form2("ram",21,"male")
obj1.output2()
obj1.name()

the company name is zzz
my name is ram and my age is 21
the gender is male

TypeError: 'str' object is not callable

In [26]:
class form():
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def company(self):
        print("the company name is zzz")
    def main_output(self):
        print(f"my name is {self.name} and my age is {self.age}")
class form2(form):
    def __init__(self,gender):
        self.gender=gender
    def output2(self):
        super().company()
        super().main_output()
        print(f"the gender is {self.gender}")
obj2=form("ram",21)
obj1=form2("male")
obj1.output2()

the company name is zzz

AttributeError: 'form2' object has no attribute 'name'

public - object,main class,sub class
private - "__" only in main class
protected - "_" main class and sub class

In [7]:
class kknagar():
    def __init__(self,location,income=10000):
        self.location=location
        self.__income=income
    def income_show(self):
        print(self.__income)
class navalur():
    def __init__(self,location,revenue):
        self.location=location
        self._revenue=revenue
    def revenue_show(self):
        print(self._revenue)
obj=kknagar("kk nagar")
obj.income_show()
obj.__income()

10000

AttributeError: 'kknagar' object has no attribute '__income'

In [15]:
class sla():
    def __init__(self,course,revenue,income=10000):
        self.course=course
        self.revenue=revenue
        self.__income=income
    def pr_income(self):
        print(f"our income is {self.__income}")
class navalur(sla):
    def __init__(self,course,location,revenue=50000):
        self.course=course
        self.location=location
        self._revenue=revenue
    def revenue_out(self):
        print(f"our location is {self.location} and revenue is {self._revenue} and course is {self.course}")
obj=sla("cloud",20000)
obj.pr_income()

our income is 10000

In [87]:
class employee():
    def __init__(self,name,age,gender,dob,b_salary=10000):
        self.name=name
        self.age=age
        self.gender=gender
        self.dob=dob
        self.b_salary=b_salary
    def output(self):
        print(f"your name is {self.name}, age is {self.age}, you are a {self.gender} and our base salary is {self.b_salary}")
class pt_employee():
    def __init__(self,name,hours,hincome=300):
        self.name=name
        self.hours=hours
        self.hincome=hincome
    def output2(self):
        income=self.hours*self.hincome
        print(f"your name is {self.name} and your salary is {income}")
class ft_employee():
    def __init__(self,name,gender,b_salary=10000):
        self.name=name
        self.gender=gender
        self.b_salary=b_salary
    def output3(self):
        income=self.b_salary+5000
        print(f"salary is {income}")

obj=employee("ram",21,"male",2004)
obj.output()
obj2=pt_employee("ram",20)
obj2.output2()
obj3=ft_employee("ram","male")
obj3.output3()

your name is ram, age is 21, you are a male and our base salary is 10000
your name is ram and your salary is 6000
salary is 15000

In [61]:
class employee():
    def __init__(self,name,age,gender,dob,b_salary=10000):
        self.name=name
        self.age=age
        self.gender=gender
        self.dob=dob
        self.b_salary=b_salary
    def output(self):
        print(f"your name is {self.name}, age is {self.age}, you are a {self.gender} and our base salary is {self.b_salary}")
class pt_employee(employee):
    def __init__(self,name,hours,hincome=300):
        self.name=name
        self.hours=hours
        self.hincome=hincome
    def output2(self):
        income=self.hours*self.hincome
        print(f"your name is {self.name} and you salary is {income}")
obj=employee("ram",21,"male",2004)
obj.output()
obj2=pt_employee("ram",20)
obj2.output2()

your name is ram, age is 21, you are a male and our base salary is 10000
your name is ram and you salary is 6000